.HA_VERSION
automations.yaml
configuration.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
scenes.yaml
scripts.yaml
secrets.yaml
.storage/assist_pipeline.pipelines
.storage/auth
.storage/auth_provider.homeassistant
.storage/bluetooth.passive_update_processor
.storage/core.analytics
.storage/core.area_registry
.storage/core.config
.storage/core.config_entries
.storage/core.device_registry
.storage/core.entity_registry
.storage/core.restore_state
.storage/core.uuid
.storage/hassio
.storage/homeassistant.exposed_entities
.storage/http
.storage/http.auth
.storage/lovelace_dashboards
.storage/lovelace.map
.storage/onboarding
.storage/person
.storage/repairs.issue_registry
.storage/trace.saved_traces
blueprints/automation/homeassistant/motion_light.yaml
blueprints/automation/homeassistant/notify_leaving_zone.yaml
blueprints/script/homeassistant/confirmable_notification.yaml
